# 1. Data overview

In [389]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [390]:
# Load the dataset
streaming_service = pd.read_csv('data/customer_subscriptions_raw.csv')

In [391]:
# Display the first few rows of the dataset
print("Initial dataset preview:")
display(streaming_service.head())

Initial dataset preview:

,CustomerID,Name,Age,Gender,JoinDate,SubscriptionType,MonthlyFee,PaymentMethod,TotalWatchTime,Cancelled,Email,Country,Region,LastLoginDate,NumSupportTickets,LoyaltyPoints,ReferralSource,PreferredDevice,PaymentFrequency
0,1,David Jackson,19,Male,2022-06-29,Standard,16.38,Paypal,45.55,False,djackson1@yahoo.com,France,Region7,2023-08-02,0.0,715.0,Ad,Mobile,Monthly
1,2,Emily Martin,53,Non-binary,2021-12-15,Standard,15.90,Credit Card,7.85,True,emartin2@streamworld.com,Australia,Region10,2025-03-25,0.0,272.0,Website,Mobile,Annual
2,3,Alex Taylor,75,Male,2023-09-11,Premium,18.67,Paypal,42.49,True,ataylor3@yahoo.com,USA,Region10,2029-06-11,0.0,5.0,SocialMedia,Mobile,Monthly
3,4,Emily Brown,58,Female,2019-06-15,Basic,10.67,Credit Card,9.29,False,ebrown4@gmail.com,Germany,Central,2026-07-06,3.0,940.0,Friend,Mobile,Monthly
4,5,Jane Anderson,27,Male,2022-03-17,Basic,8.98,Credit Card,14.94,False,janderson5@example.com,Australia,East,2028-08-06,2.0,320.0,Ad,Tablet,Monthly

In [392]:
# Print the shape of dataset
print("Data shape:")
print(streaming_service.shape)

Data shape:
(2500, 19)

In [393]:
# Check data types for each column
for col in streaming_service.columns:
    print(f"Column: {col}")
    # map each value to its Python type and count
    counts = streaming_service[col].map(type).value_counts()
    print(counts)
    print("-" * 40)

Column: CustomerID
CustomerID
<class 'int'>    2500
Name: count, dtype: int64
----------------------------------------
Column: Name
Name
<class 'str'>    2500
Name: count, dtype: int64
----------------------------------------
Column: Age
Age
<class 'int'>    2500
Name: count, dtype: int64
----------------------------------------
Column: Gender
Gender
<class 'str'>    2500
Name: count, dtype: int64
----------------------------------------
Column: JoinDate
JoinDate
<class 'str'>    2500
Name: count, dtype: int64
----------------------------------------
Column: SubscriptionType
SubscriptionType
<class 'str'>    2500
Name: count, dtype: int64
----------------------------------------
Column: MonthlyFee
MonthlyFee
<class 'float'>    2500
Name: count, dtype: int64
----------------------------------------
Column: PaymentMethod
PaymentMethod
<class 'str'>    2500
Name: count, dtype: int64
----------------------------------------
Column: TotalWatchTime
TotalWatchTime
<class 'float'>    2500
Name: count, dtype: int64
----------------------------------------
Column: Cancelled
Cancelled
<class 'bool'>    2500
Name: count, dtype: int64
----------------------------------------
Column: Email
Email
<class 'str'>      2378
<class 'float'>     122
Name: count, dtype: int64
----------------------------------------
Column: Country
Country
<class 'str'>      2375
<class 'float'>     125
Name: count, dtype: int64
----------------------------------------
Column: Region
Region
<class 'str'>      2375
<class 'float'>     125
Name: count, dtype: int64
----------------------------------------
Column: LastLoginDate
LastLoginDate
<class 'str'>      2375
<class 'float'>     125
Name: count, dtype: int64
----------------------------------------
Column: NumSupportTickets
NumSupportTickets
<class 'str'>      2379
<class 'float'>     121
Name: count, dtype: int64
----------------------------------------
Column: LoyaltyPoints
LoyaltyPoints
<class 'float'>    2500
Name: count, dtype: int64
----------------------------------------
Column: ReferralSource
ReferralSource
<class 'str'>      2375
<class 'float'>     125
Name: count, dtype: int64
----------------------------------------
Column: PreferredDevice
PreferredDevice
<class 'str'>      2375
<class 'float'>     125
Name: count, dtype: int64
----------------------------------------
Column: PaymentFrequency
PaymentFrequency
<class 'str'>      2375
<class 'float'>     125
Name: count, dtype: int64
----------------------------------------

In [394]:
# Count of missing values per column
missing_counts = streaming_service.isnull().sum()
print(missing_counts)

CustomerID             0
Name                   0
Age                    0
Gender                 0
JoinDate               0
SubscriptionType       0
MonthlyFee             0
PaymentMethod          0
TotalWatchTime         0
Cancelled              0
Email                122
Country              125
Region               125
LastLoginDate        125
NumSupportTickets    121
LoyaltyPoints        125
ReferralSource       125
PreferredDevice      125
PaymentFrequency     125
dtype: int64

In [395]:
# Boolean mask of duplicated rows (first occurrence is marked False)
dup_mask = streaming_service.duplicated()

# How many duplicate rows?
num_dup_rows = dup_mask.sum()
print(f"Duplicate rows: {num_dup_rows}")

Duplicate rows: 0

In [396]:
# Summaries of the dataset
streaming_service.describe(include='all')

,CustomerID,Name,Age,Gender,JoinDate,SubscriptionType,MonthlyFee,PaymentMethod,TotalWatchTime,Cancelled,Email,Country,Region,LastLoginDate,NumSupportTickets,LoyaltyPoints,ReferralSource,PreferredDevice,PaymentFrequency
count,2500.00000,2500,2500.000000,2500,2500,2500,2500.000000,2500,2500.000000,2500,2378,2375,2375,2375,2379,2375.000000,2375,2375,2375
unique,NaN,100,NaN,4,1634,3,NaN,4,NaN,2,2306,6,10,1839,8,NaN,5,3,3
top,NaN,Alex White,NaN,Female,2021-01-09,Standard,NaN,Credit Card,NaN,False,invalid_email.com,USA,North,2025-07-18,1.0,NaN,Website,Mobile,Monthly
freq,NaN,41,NaN,1157,6,1014,NaN,1189,NaN,1772,25,420,260,5,750,NaN,687,1455,1662
mean,1250.50000,NaN,49.224400,NaN,NaN,NaN,13.918960,NaN,20.848920,NaN,NaN,NaN,NaN,NaN,NaN,452.753684,NaN,NaN,NaN
std,721.83216,NaN,18.114008,NaN,NaN,NaN,3.832015,NaN,21.590096,NaN,NaN,NaN,NaN,NaN,NaN,365.449551,NaN,NaN,NaN
min,1.00000,NaN,18.000000,NaN,NaN,NaN,7.080000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-993.000000,NaN,NaN,NaN
25%,625.75000,NaN,33.000000,NaN,NaN,NaN,10.290000,NaN,5.647500,NaN,NaN,NaN,NaN,NaN,NaN,205.000000,NaN,NaN,NaN
50%,1250.50000,NaN,49.000000,NaN,NaN,NaN,14.200000,NaN,13.895000,NaN,NaN,NaN,NaN,NaN,NaN,472.000000,NaN,NaN,NaN
75%,1875.25000,NaN,64.000000,NaN,NaN,NaN,15.980000,NaN,28.697500,NaN,NaN,NaN,NaN,NaN,NaN,745.000000,NaN,NaN,NaN
max,2500.00000,NaN,80.000000,NaN,NaN,NaN,23.230000,NaN,201.440000,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,NaN,NaN

# 2. Data cleaning

With only about 5% of values missing in columns: Email, Country, Region, LastLoginDate, NumSupportTickets, LoyaltyPoints, ReferralSource, PreferredDevice, PaymentFrequency. Removing those records ensures our analysis uses fully observed data without introducing imputation bias.

In [399]:
# Remove missing values
streaming_service_cleaned = streaming_service.dropna()

After cleaning missing values, we check for the summary of dataset again.

In [401]:
# Check dataset after removing missing values
print(streaming_service_cleaned.shape)
print(streaming_service_cleaned.isnull().sum())

(2375, 19)
CustomerID           0
Name                 0
Age                  0
Gender               0
JoinDate             0
SubscriptionType     0
MonthlyFee           0
PaymentMethod        0
TotalWatchTime       0
Cancelled            0
Email                0
Country              0
Region               0
LastLoginDate        0
NumSupportTickets    0
LoyaltyPoints        0
ReferralSource       0
PreferredDevice      0
PaymentFrequency     0
dtype: int64

In [402]:
# Check data types for each column
for col in streaming_service_cleaned.columns:
    print(f"Column: {col}")
    # map each value to its Python type and count
    counts = streaming_service_cleaned[col].map(type).value_counts()
    print(counts)
    print("-" * 40)

Column: CustomerID
CustomerID
<class 'int'>    2375
Name: count, dtype: int64
----------------------------------------
Column: Name
Name
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: Age
Age
<class 'int'>    2375
Name: count, dtype: int64
----------------------------------------
Column: Gender
Gender
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: JoinDate
JoinDate
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: SubscriptionType
SubscriptionType
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: MonthlyFee
MonthlyFee
<class 'float'>    2375
Name: count, dtype: int64
----------------------------------------
Column: PaymentMethod
PaymentMethod
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: TotalWatchTime
TotalWatchTime
<class 'float'>    2375
Name: count, dtype: int64
----------------------------------------
Column: Cancelled
Cancelled
<class 'bool'>    2375
Name: count, dtype: int64
----------------------------------------
Column: Email
Email
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: Country
Country
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: Region
Region
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: LastLoginDate
LastLoginDate
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: NumSupportTickets
NumSupportTickets
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: LoyaltyPoints
LoyaltyPoints
<class 'float'>    2375
Name: count, dtype: int64
----------------------------------------
Column: ReferralSource
ReferralSource
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: PreferredDevice
PreferredDevice
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------
Column: PaymentFrequency
PaymentFrequency
<class 'str'>    2375
Name: count, dtype: int64
----------------------------------------

The NumSupportTickets should be integer rather than string type. We shall check for it.

In [404]:
# Summaries of the dataset
streaming_service_cleaned.describe(include='all')

,CustomerID,Name,Age,Gender,JoinDate,SubscriptionType,MonthlyFee,PaymentMethod,TotalWatchTime,Cancelled,Email,Country,Region,LastLoginDate,NumSupportTickets,LoyaltyPoints,ReferralSource,PreferredDevice,PaymentFrequency
count,2375.000000,2375,2375.000000,2375,2375,2375,2375.000000,2375,2375.000000,2375,2375,2375,2375,2375,2375,2375.000000,2375,2375,2375
unique,NaN,100,NaN,4,1575,3,NaN,4,NaN,2,2306,6,10,1839,8,NaN,5,3,3
top,NaN,Alex White,NaN,Female,2021-01-09,Basic,NaN,Credit Card,NaN,False,invalid_email.com,USA,North,2025-07-18,1.0,NaN,Website,Mobile,Monthly
freq,NaN,38,NaN,1103,6,967,NaN,1134,NaN,1692,24,420,260,5,750,NaN,687,1455,1662
mean,1250.995368,NaN,49.332211,NaN,NaN,NaN,13.902952,NaN,20.923705,NaN,NaN,NaN,NaN,NaN,NaN,452.753684,NaN,NaN,NaN
std,723.026349,NaN,18.042131,NaN,NaN,NaN,3.840327,NaN,21.729556,NaN,NaN,NaN,NaN,NaN,NaN,365.449551,NaN,NaN,NaN
min,1.000000,NaN,18.000000,NaN,NaN,NaN,7.080000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-993.000000,NaN,NaN,NaN
25%,625.500000,NaN,34.000000,NaN,NaN,NaN,10.275000,NaN,5.705000,NaN,NaN,NaN,NaN,NaN,NaN,205.000000,NaN,NaN,NaN
50%,1247.000000,NaN,49.000000,NaN,NaN,NaN,14.190000,NaN,13.890000,NaN,NaN,NaN,NaN,NaN,NaN,472.000000,NaN,NaN,NaN
75%,1877.500000,NaN,64.000000,NaN,NaN,NaN,15.980000,NaN,28.860000,NaN,NaN,NaN,NaN,NaN,NaN,745.000000,NaN,NaN,NaN
max,2500.000000,NaN,80.000000,NaN,NaN,NaN,23.230000,NaN,201.440000,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,NaN,NaN

With all missing values resolved, we will now perform an in-depth examination of the suspicous variables and relevant to our core question: “What factors drive a customer to cancel?”. To help clean the data more efficient, we also use Excel to view the big picture of dataset.

## a) "Gender", "SubscriptionType", "PaymentMethod", "Country", "Region", "ReferralSource", "PreferredDevice", "PaymentFrequency" columns

Reason for selections: 
+ Gender, Country, Region: Different genders often have distinct content preferences and price sensitivities. Geographic markets can vary in competition, payment infrastructure, and regulatory factors that influence churn patterns.
+ SubscriptionType: Different tiers have different content libraries, features, and price points. Premium subscribers may be stickier if they value exclusive content, whereas Basic users may churn more readily if they hit usage limits.
+ ReferralSource: Customers acquired via a “Friend” referral or Loyalty program tend to have stronger social proof and commitment, lowering their churn risk compared to, say, generic ad-driven sign-ups.
+ PaymentFrequency: The absolute fee and the cadence of billing can affect perceived value. Annual subscribers often have lower churn, while users on the higher end of MonthlyFee may cancel if they don’t feel they’re getting their money’s worth.
+ PaymentMethod: Certain methods can mechanically influence ease of cancellation and involuntary churn.
+ PreferredDevice: A mobile-only user might churn if the mobile experience is poor, whereas multi-device customers may stick around longer due to habit and convenience.

It also shows that each column has certain numbers of unique values that we would like to double check what they are.

In [408]:
cols = [
    "Gender", "SubscriptionType", "PaymentMethod",
    "Country", "Region", "ReferralSource",
    "PreferredDevice", "PaymentFrequency"
]

for col in cols:
    uniques = streaming_service_cleaned[col].dropna().unique()
    print(f"{col} ({len(uniques)}):\n  {uniques}\n")

Gender (4):
  ['Male' 'Non-binary' 'Female' 'Prefer not to say']

SubscriptionType (3):
  ['Standard' 'Premium' 'Basic']

PaymentMethod (4):
  ['Paypal' 'Credit Card' 'Debit Card' 'Bank Transfer']

Country (6):
  ['France' 'Australia' 'USA' 'Germany' 'UK' 'Canada']

Region (10):
  ['Region7' 'Region10' 'Central' 'East' 'Region6' 'Region9' 'South'
 'Region8' 'North' 'West']

ReferralSource (5):
  ['Ad' 'Website' 'SocialMedia' 'Friend' 'OrganicSearch']

PreferredDevice (3):
  ['Mobile' 'Tablet' 'Desktop']

PaymentFrequency (3):
  ['Monthly' 'Annual' 'Quarterly']

All entries can be trusted; however, some of the labels in the Region column such as Region10, Region6, and Region9—are simply placeholders without real-world meaning. Because this dataset is synthetic and we lack any additional context to verify true region names, we will leave these values unchanged and regard them as valid region identifiers.

## b) "JoinDate", "LastLoginDate", "NumSupportTickets", "LoyaltyPoints" columns

Reason for selections:
+ JoinDate: Customers who have been with the service longer often develop habits or loyalty, making them less likely to cancel until they hit saturation or find better alternatives. A short tenure (e.g. joined in the last month) often correlates with trial churn. Moreover, we would like to check if there are any invalid dates (e.g: dates are in future or in a long time ago) or not.
+ LastLoginDate: A long gap since last login is a classic “early warning” sign of disengagement. The more days since a customer last used the service, the higher their risk of canceling. Similar to JoinDate, we would like to check if there are any invalid dates or not.
+ NumSupportTickets: A high volume of tickets often signals frustration like technical issues, billing disputes, or content problems—that can directly lead to cancellation. As mentioned earlier, this column should contain integers rather than string. Hence we need to check for this problem.
+ LoyaltyPOints: Points accrue as a reward/incentive; customers with high balances are usually more engaged and less likely to quit, whereas negative or very low balances may indicate disinterest or previous point adjustments that could erode trust. We notice in Excel that some values are negative hence we will convert these values into positive.

In [412]:
# Convert the string columns to datetime
streaming_service_cleaned.loc[:, 'JoinDate'] = pd.to_datetime(
    streaming_service_cleaned['JoinDate'],
    errors='coerce'
)
streaming_service_cleaned.loc[:, 'LastLoginDate'] = pd.to_datetime(
    streaming_service_cleaned['LastLoginDate'],
    errors='coerce'
)

# retrieve min/max date
min_join  = streaming_service_cleaned['JoinDate'].min()
max_join  = streaming_service_cleaned['JoinDate'].max()
min_login = streaming_service_cleaned['LastLoginDate'].min()
max_login = streaming_service_cleaned['LastLoginDate'].max()

print(f"JoinDate:      {min_join.date()} → {max_join.date()}")
print(f"LastLoginDate: {min_login.date()} → {max_login.date()}")

JoinDate:      2018-01-01 → 2025-06-24
LastLoginDate: 2018-03-28 → 2032-08-15

Given that our analysis is anchored on 26 June 2025, but the lastlogindate field contains implausibly future values (for example, 15 August 2032), we will cap any date later than 26 June 2025 at 26 June 2025. Since this dataset is synthetic and we lack the context to recover the true dates, this adjustment preserves all records while enforcing a logical upper bound.

In [414]:
# Define cutoff date
cutoff = pd.Timestamp('2025-06-26')

# Clamp any dates after the cutoff to the cutoff
streaming_service_cleaned.loc[:, 'LastLoginDate'] = (
    streaming_service_cleaned['LastLoginDate']
      .clip(upper=cutoff)
)

# Verify
print(f"LastLoginDate: {streaming_service_cleaned['LastLoginDate'].min().date()} → {streaming_service_cleaned['LastLoginDate'].max().date()}")

LastLoginDate: 2018-03-28 → 2025-06-26

In [415]:
# Mask for entries that are strings and consist only of letters
mask_alpha = streaming_service_cleaned['NumSupportTickets'] \
               .apply(lambda x: isinstance(x, str) and x.isalpha())

# Print just those rows
print(streaming_service_cleaned.loc[mask_alpha, 'NumSupportTickets'])
unique_alpha = streaming_service_cleaned.loc[mask_alpha, 'NumSupportTickets'].unique()
print("Values appear in the list: ", unique_alpha)

15      Five
18      Five
27      Five
63      Five
73      Five
        ...
2482    Five
2489    Five
2492    Five
2494    Five
2496    Five
Name: NumSupportTickets, Length: 121, dtype: object
Values appear in the list:  ['Five']

In [416]:
# Replace “Five” to "5"
streaming_service_cleaned.loc[:, 'NumSupportTickets'] = (
    streaming_service_cleaned['NumSupportTickets']
      .replace('Five', '5')
)

# Convert to numeric
streaming_service_cleaned.loc[:, 'NumSupportTickets'] = (
    pd.to_numeric(
        streaming_service_cleaned['NumSupportTickets'],
        errors='coerce'
    )
    .astype(int)
)

# Verify
print("unique:", streaming_service_cleaned['NumSupportTickets'].unique())

unique: [0 3 2 1 5 4 6]

In [417]:
# Convert negative values to positive for Loyalty points
streaming_service_cleaned.loc[:, 'LoyaltyPoints'] = np.abs(streaming_service_cleaned.loc[:, 'LoyaltyPoints'])

## 3. Export cleaned dataset

In [419]:
streaming_service_cleaned.to_csv('streaming_service_cleaned.csv', index=False)